*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}
body{
    min-height: 100vh;
    background-image: url("bg.avif");
    background-size: cover;
    background-position: center;
}
ul{
    list-style: none;
    background-color: #e0d9d9;
    text-align: center;
}
ul li{
    display:inline-block;
    position: relative;
    margin:0 10px;
}
ul li a{
    display: block;
    padding: 20px 25px;
    font-size: 16px;
    color: #080808;
    text-decoration: none;
    text-align: center;
}
ul li a img{
    position: relative;
    width: 30px;
    height: 30px;
}
ul li a img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}
ul li ul.dropdown li{
   display: center;
   background: #e6e3e3;
   margin: 2px 0px;
}
ul li ul.dropdown{
    width: auto;
    background: absolute;
    position: absolute;
    z-index: 999;
    display:none;
}
ul li a:hover{
    background: #d1cccc;
}
ul li:hover ul.dropdown{
    display: block;
}
.content .cards{
  padding:50px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap;
}
.content .cards .card{
    width: 1500px;
    height: 300px;
    box-shadow: 20px 20px 30px 0 rgba(221, 211, 211, 0.2), 0 50px 20px 0 rgba(164, 122, 122, 0.19);
    background: rgb(241, 160, 53);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile {
    display: flex;
    align-items: center;
    background-color: #3b8cc0;
    padding: 0px;
    border-radius: 5px;
    color: white;
    width: fit-content;
    position: relative;
}
.profile img {
    border-radius: 50%;
    margin-right: 10px;
}



